.picking-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  width: 300px;
}

.picking-item {
  display: flex;
  align-items: center;
  background: color-mix(
    in srgb, var(--pill-accent) 5%, transparent
  );
  color: var(--pill-accent);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-weight: 500;
}
